@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&display=swap");

/* General styles */
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  height: 100vh;
}

/* Right side styles (Image) */
#right-side {
  width: 40%;
  flex: 1;
  background-color: #5de0e6;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.right-side-boxes {
  width: 60%;
  height: 75%;
  display: flex;
  border-radius: 46px;
  background: #ffffff36;
  backdrop-filter: blur(14px);
  border: 1px solid #ffffff85;
  position: relative;
}

.login-image {
  position: absolute;
  bottom: 0;
  left: -35%;
  max-height: 75%;
  height: 100%;
  width: auto;
  max-width: 45dvw;
  aspect-ratio: 2 / 1;
  object-fit: contain;
}

/* Left side styles (Login form) */
#left-side {
  flex: 1;
  background-color: #f2f2f2;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 20px;
}

#left-side h1 {
  font-family: Quicksand;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #5de0e6;
}

.header {
  display: flex;
  align-items: center;
  position: absolute;
  top: 31px;
  left: 31px;
  gap: 1rem;
}

.header p {
  font-family: Quicksand;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
}

.logo {
  width: 81px;
  height: 81px;
  margin-right: 10px;
}

.login-container {
  padding: 2rem;
  border-radius: 20px;
  width: 100%;
  max-width: 30dvw;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.input-group {
  width: 100%;
  margin-bottom: 1rem;
}

.input-icon {
  display: flex;
  align-items: center;
  background-color: #c4f8fc;
  border-radius: 8px;
  padding: 0.5rem;
}

.input-icon-img {
  width: 20px;
  margin-right: 10px;
}

input[type="email"],
input[type="password"] {
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
  font-size: 16px;
  color: #333;
  height: 80px;
  font-family: Quicksand, sans-serif;
}

.login-btn {
  width: fit-content;
  padding: 32px 44px;
  background: linear-gradient(0deg, #5de0e6, #5de0e6);
  border: none;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin-top: 1rem;
  cursor: pointer;
  font-family: Quicksand, sans-serif;
  box-shadow: 0px 8px 21px 0px #00000029;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: white;
  border-radius: 12px;
  padding: 0.75rem 2rem;
  margin-top: 1rem;
  cursor: pointer;
  font-size: 16px;
  font-size: 20px;
  font-family: Quicksand, sans-serif;
  width: fit-content;
  height: 66;
  border-radius: 50px;
  border-width: 1px;
}

.google-icon {
  height: 48px;
  width: 48px;
  margin-right: 10px;
}

.forgot-link,
.register-link {
  margin-top: 1rem;
  text-align: center;
  font-size: 20px;
}

.forgot-link a,
.register-link a {
  font-weight: bold;
  color: #000;
  text-decoration: underline;
  cursor: pointer;
    font-family: Quicksand, sans-serif;
}

/* Responsive styles */
/* Tablet styles (portrait) */
@media (max-width: 1100px) and (orientation: portrait) {
  #left-side {
    gap: 10px;
  }
  .login-container {
    max-width: 60vw;
    padding: 1.5rem;
  }
  #left-side h1 {
    font-size: 36px;
  }
  .header p {
    font-size: 24px;
  }
  .logo {
    width: 60px;
    height: 60px;
  }
  .login-image {
    left: -15%;
    height: 65%;
    max-width: 70dvw;
  }
  #right-side {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .right-side-boxes {
    width: 80%;
    height: 60%;
  }

  .forgot-link,
  .register-link {
    margin-top: 1rem;
    text-align: center;
    font-size: 16px;
  }
}

/* Tablet styles (landscape) */
@media (max-width: 1100px) and (orientation: landscape) {
  #left-side {
    gap: 10px;
  }
  .login-container {
    max-width: 60vw;
    padding: 1.5rem;
  }
  #left-side h1 {
    font-size: 36px;
  }
  .header p {
    font-size: 16px;
  }
  .logo {
    width: 60px;
    height: 60px;
  }
  .login-image {
    left: -15%;
    height: 65%;
    max-width: 40dvw;
  }
  .right-side-boxes {
    width: 80%;
    height: 60%;
  }

  .forgot-link,
  .register-link {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.75rem;
  }
}

/* Mobile styles */
@media (max-width: 800px) {
  #left-side {
    gap: 10px;
  }
  body {
    flex-direction: column;
    height: auto;
  }
  #left-side,
  #right-side {
    flex: unset;
    width: 100%;
    min-height: unset;
    padding: 1.5rem 0.5rem;
  }
  .header p {
    font-size: 16px;
  }
  .login-container {
    max-width: 95vw;
    padding: 1rem;
  }
  .right-side-boxes {
    width: 95%;
    height: 40vw;
    min-height: 180px;
    max-height: 260px;
  }
  .login-image {
    position: absolute;
    width: 120px;
    height: auto;
    margin: 0 auto;
    display: block;
  }
  
  .forgot-link,
  .register-link {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.75rem;
  }
}

/* Extra small devices (phones) */
@media (max-width: 600px) {
    #left-side {
      padding: 3rem 1rem;
      align-items: center;
      gap: 40px;
    }
  
    #right-side {
      width: 100%;
      height: 50vh;
      padding: 1rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    #left-side h1 {
      font-size: 24px;
    }
    .header {
      top: 10px;
      left: 10px;
    }
    .header p {
      font-size: 16px;
    }
    .logo {
      width: 36px;
      height: 36px;
    }
    .login-container {
      padding: 0.5rem;
      border-radius: 10px;
    }
    .input-icon {
      padding: 0.25rem;
    }
    input[type="email"],
    input[type="password"] {
      font-size: 14px;
      height: 48px;
      max-width: 80dvw;
    }
    .login-btn,
    .google-btn {
      padding: 12px 18px;
      font-size: 14px;
    }
    .google-icon {
      height: 24px;
      width: 24px;
    }
    .forgot-link,
    .register-link {
      font-size: 14px;
    }
  
    .login-image {
      position: absolute;
      width: 100%;
      height: 100%;
      max-width: 100dvw;
      max-height: 80dvh;
    }
    
    .forgot-link,
    .register-link {
      margin-top: 1rem;
      text-align: center;
      font-size: 0.75rem;
    }
  }
  

/* Extra small devices (phones) */
@media (max-width: 500px) {
  #left-side {
    padding: 3rem 1rem;
    align-items: center;
    gap: 40px;
  }

  #right-side {
    width: 100%;
    height: 50vh;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #left-side h1 {
    font-size: 24px;
  }
  .header {
    top: 10px;
    left: 10px;
  }
  .header p {
    font-size: 16px;
  }
  .logo {
    width: 36px;
    height: 36px;
  }
  .login-container {
    padding: 0.5rem;
    border-radius: 10px;
  }
  .input-icon {
    padding: 0.25rem;
  }
  input[type="email"],
  input[type="password"] {
    font-size: 14px;
    height: 48px;
    max-width: 80dvw;
  }
  .login-btn,
  .google-btn {
    padding: 12px 18px;
    font-size: 14px;
  }
  .google-icon {
    height: 24px;
    width: 24px;
  }
  .forgot-link,
  .register-link {
    font-size: 14px;
  }

  .login-image {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100dvw;
    max-height: 80dvh;
  }
  
  .forgot-link,
  .register-link {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.75rem;
  }
}
