@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F2F2F2;
}
.top-header{
    position: fixed;
    background-color: #5DE0E6;
    width: 100%;
    height: 6rem;
    align-items: center;
    z-index: 100;
    padding: 0 1.5rem;
    display: flex;
}
.logo img{
    width: auto;
    height: 4rem;
    padding-right: 1rem;
}
.Titulo{
    font-family: Quicksand, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color:#1A1A1A;
    padding-right: 25rem;
}
.MenuHorizontal{
    font-family: Lato, sans-serif;
    font-weight: extra-bold;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    gap: 1rem;
}
.MenuHorizontal li{
    font-size: 14px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: #C6F7FF;
    border-radius: 20px;
}
.MenuHorizontal li a{
    text-decoration: none;
    color: #1A1A1A;
    font-weight: bold;
}
.MenuHorizontal li:hover{
    opacity: 80%;
}
.FuncionalidadesPrincipales{
    padding:6rem 2rem 3rem;
}
.FuncionalidadesPrincipales h2{
    font-family: Quicksand, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #5DE0E6;
    margin-bottom: 2rem;
    text-align: center;
}
.ReporteAnonimo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    padding: 2rem;
    margin-bottom: 2rem;
}
.ReporteImagen{
    flex: 1;
}
.ReporteImagen img{
    height: 20rem;
    width: 100%;
}
.ReporteTexto{
    flex: 1;
    color: #1A1A1A;
    text-align: center;
}
.ReporteTexto h3{
    font-family: Quicksand, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.ReporteTexto p{
    font-family: Lato, sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}
.ChatbotEmpatico{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    padding: 2rem;
    margin-bottom: 2rem;
}
.ChatbotImagen{
    flex: 1;
}
.ChatbotImagen img{
    height: 75%;
    width: 100%;
}
.ChatbotTexto{
    flex: 1;
    color: #1A1A1A;
    text-align: center;
}
.ChatbotTexto h3{
    font-family: Quicksand, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.ChatbotTexto p{
    font-family: Lato, sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}
.ForosDiscusion{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    padding: 2rem;
}
.ForosImagen{
    flex: 1;
}
.ForosImagen img{
    height: 75%;
    width: 100%;
}
.ForosTexto{
    flex: 1;
    color: #1A1A1A;
    text-align: center;
}
.ForosTexto h3{
    font-family: Quicksand, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.ForosTexto p{
    font-family: Lato, sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}
.RegistroEmociones{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    padding: 2rem;
}
.RegistroImagen{
    flex: 1;
}
.RegistroImagen img{
    height: 75%;
    width: 100%;
}
.RegistroTexto{
    flex: 1;
    color: #1A1A1A;
    text-align: center;
}
.RegistroTexto h3{
    font-family: Quicksand, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.RegistroTexto p{
    font-family: Lato, sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}
.RecursosEducativos{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    padding: 2rem;
}
.RecursosImagen{
    flex: 1;
}
.RecursosImagen img{
    height: 75%;
    width: 100%;
}
.RecursosTexto{
    flex: 1;
    color: #1A1A1A;
    text-align: center;
}
.RecursosTexto h3{
    font-family: Quicksand, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.RecursosTexto p{
    font-family: Lato, sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}