body {
  font-family: "Lato";
  margin: 0;
  background: #f2f2f2;
}
h1 {
  font-family: "Quicksand";
  font-size: 40px;
  text-align: center;
  color: #5de0e6;
  margin: 40px 0;
}

h2,
h3 {
  font-family: "Quicksand";
  font-size: 32px;
}
p,
h4 {
  font-family: "Quicksand";
  font-size: 16px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5de0e6;
  padding: 10px 30px;
  height: 60px;
}
.logo img {
  height: 70px;
  margin-right: 10px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}
.menu {
  display: flex;
  gap: 15px;
}
.menu a {
  font-family: "Lato";
  background: #f2f2f2;
  color: #1a1a1a;
  padding: 8px 15px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}
.menu a:hover {
  background: #c6f7ff;
}
.titulo {
  text-align: center;
  color: #5de0e6;
  margin: 40px 0;
}
.beneficio,
.apoyo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 40px 0px;
}
.beneficio div {
  padding-left: 0;
  margin-left: 0;
  transform: translateX(-200px);
}

.apoyo div {
  transform: translateX(200px);
  padding-left: 60px;
}
.apoyo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 40px 0px;
  flex-wrap: nowrap;
}
.apoyo div {
  padding-left: 20px;
}
.beneficio img {
  margin-left: 0;
}
.beneficio img,
.apoyo img {
  width: 45%;
  height: auto;
}
