@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&display=swap");

body {
  margin: 0; /* Elimina el margen exterior del navegador */
  padding: 0rem; /* Espaciado interno general */
  box-sizing: border-box; /* Incluye padding y border en los tamaños */
  background-color: #f2f2f2; /* Color de fondo suave */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.top-header {
  position: fixed; /* Fija el menú en la parte superior */
  background-color: #5de0e6; /* Fondo celeste brillante para visibilidad */
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  z-index: 100; /* Se asegura de estar por encima de otros elementos */
  height: 6.25rem; /* Altura fija del menú (100px) */
  display: flex; /* Activa Flexbox para alinear los elementos internos */
  align-items: center; /* Centrado vertical */
  justify-content: space-between; /* Separación entre logo y menú */
  padding: 0 1.5rem; /* Espacio horizontal interno del menú */
  box-sizing: border-box;
}

.titulo-logo {
  color: #1a1a1a;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
}

.contenido-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo img {
  height: 5.063rem; /* Altura del logo */
  width: 5.063rem; /* Mantiene proporción automática */
}

.menu-horizontal {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  margin-left: auto;
}

.menu-horizontal li {
  padding: 0.5rem 1rem;
  background-color: #c6f7ff;
  border-radius: 20px;
}

.menu-horizontal li a {
  font-size: 14px;
  text-decoration: none;
  color: #1a1a1a;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}

/* fondo */
.inicio {
  padding-top: 6rem;
  padding-bottom: 2rem;
}

/* parte 1 */

.parte-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

/* texto parte 1*/
.text-parte-1 {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5rem;
  margin-right: 0;
  padding-right: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* texto principal */
.parte-1-titulo {
  flex: 1;
  color: #5de0e6;
  margin: 0;
  font-size: 3rem;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  text-align: left;
}

/* texto segundario */
.inicio-contenido {
  color: #1a1a1a;
  margin: 0px;
  font-family: "Quicksand", sans-serif;
  flex: 1;
  text-align: justify;
  font-size: 1.25rem;
}

.inicio-contenido p {
  width: 650px;
}

/*imagen parte 1*/
.inicio-imagen {
  flex: 1;
  margin-right: 2rem;
  margin-left: 0;
  padding-left: 0;
}

.inicio-imagen img {
  width: 100%; /* Ocupa el ancho completo del contenedor */
  height: auto; /* Mantiene la proporción */
  border-radius: 5rem; /* Bordes redondeados */
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.ingreso-texto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.Quienes-Somos {
  background-color: #c6f7ff;
  text-align: center;
  padding: 1rem 2rem 2rem;
}
.Quienes-Somos h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  color: #1a1a1a;
  margin: 0;
}

.quienes-somos-contenido {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #1a1a1a;
  display: flex;
  flex-direction: row;
  gap: 70px;
  justify-content: space-between;
}

.Separador-Quienes-Somos {
  margin: 1rem 0 0 0;
  flex: 1;
}

.Separador-Quienes-Somos span {
  font-weight: bold;
  font-style: italic;
}

.upc-logo img {
  width: 84px;
  height: 84px;
}

.lupa img {
  width: 84px;
  height: 84px;
}

.acierto img {
  width: 74px;
  height: 74px;
  padding-bottom: 0.7rem;
}

.celular img {
  height: 70px;
  padding-bottom: 0.7rem;
}
.Propuesta-Valor {
  padding: 1rem 2rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.Propuesta-Valor h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  color: #1a1a1a;
  text-align: center;
  flex: 0.2;
}
.Propuesta-Valor p {
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #5de0e6;
  text-align: center;
  margin: 0.5rem auto;
  max-width: 1000px;
}

/* Oculta el botón hamburguesa en escritorio */
.menu-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #1a1a1a;
}

.footer {
  margin-top: auto;
  background-color: #5de0e6;
  padding: 1.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.contenido_footer1 p,
.contenido_footer2 p {
  font-size: 2rem;
  font-weight: 700;
  color: #1a1a1a;
  font-family: "Quicksand", sans-serif;
}

.contenido_footer2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.contenido_footer2 img {
  width: 3.125rem;
  height: 3.125rem;
}

/* Media Queries Responsivas */
/* Moviles*/
@media (max-width: 700px) {
  .top-header {
    padding: 0 1rem;
  }

  .titulo-logo {
    font-size: 1.2rem;
    padding-right: 0;
    text-align: center;
    width: 100%;
  }
  .menu-toggle {
    display: block;
  }
  .menu-horizontal {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 5rem;
    left: 0;
    gap: 0rem;
    padding: 0;
  }
  .menu-horizontal.active {
    display: flex;
  }
  .menu-horizontal li {
    width: 100%;
    border-bottom: 1px solid #ccc;
    text-align: left;
    border-radius: 0px;
  }

  .parte-1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
  }

  .text-parte-1 {
    order: 1;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .parte-1-titulo {
    text-align: center;
  }

  .inicio-contenido p {
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
    text-align: center;
  }

  .inicio-imagen {
    order: 2;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .inicio-imagen img {
    width: 90%;
    max-width: 300px;
    height: auto;
    border-radius: 2rem;
  }

  .quienes-somos-contenido {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .Propuesta-Valor p {
    font-size: 1.5rem;
  }

  .footer {
    flex-direction: column;
  }

  .contenido_footer1 p,
  .contenido_footer2 p {
    font-size: 1.5rem;
    font-family: "Quicksand", sans-serif;
  }
  .contenido_footer2 img {
    width: 1.7rem;
    height: 1.7rem;
  }
}

/* Tablets y pantallas medianas */
@media (min-width: 701px) and (max-width: 1024px) {
  .footer {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    text-align: center;
    height: auto;
  }

  .contenido_footer1,
  .contenido_footer2 {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }

  .contenido_footer1 p,
  .contenido_footer2 p {
    font-size: 1rem;
  }
}
